<div class="container container--profile">
    <div class="row">
        <div class="col-md-6 img" data-analytics="mouseenter mouseleave">
            <div class="spinner spinner--circle"></div>
            <img src="{{ user.photos.[0] }}"
                 alt="" class="img-rounded container--profile__image avatar">
        </div>
        <div class="col-md-6 details">
            <blockquote>
                <h5>{{ user.name.given_name }}{{#if user.name.middle_name }} {{ user.name.middle_name }}{{/if}} {{ user.name.family_name }}</h5>
                <small>
                    <cite title="User">
                        {{ user.user_type }}
                    </cite>
                </small>
            </blockquote>
            <p>
                <a href="mailto:{{ user.emails.[0].value }}">{{ user.emails.[0].value }}</a><br>
                {{ user.organisation_name }}
            </p>
        </div>
    </div>
</div>